<head>
  <title>LoveThese!--about</title>
</head>
<main>
  <div class="container">
    <div class="row">
      <div style="margin:0 auto;">
        <div class="bg-image">
        <div class="bg-mask">
          <div class="px-3 mx-auto", style="color: #16214d;">
          <h1>About This Site</h1><br>
          <p>「好きなものを好きと叫ぶ」ためのコミュニティサイトです。</p>
          <p> お気に入りの写真、趣味、思い出など・・・</p>
          <p> あなたの "Love These!" をぜひ投稿してください！</p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</main>
