<head>
  <title>LoveThese!</title>
</head>
<div style="color: green;"><center><%= flash[:notice] %></center></div>
<body>
  <main>
    <p id="notice"></p>
      <div class="container">
        <div class="row">
          <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
            <h1>welcome to <strong>LoveThese!</strong></h1>
            <p></p>
            <p>Let's share what you like!</p><br>
            <div class="btn-wrapper col-10 mx-auto">
              <div class="row">
                <p class = "ml-4"><a class="btn btn-info btn-sm sign_in" href="/users/sign_in">Log in</a></p>
                <p class = "ml-4"><a class="btn btn-success btn-sm sign_up" href="/users/sign_up">Sign Up</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>
</body>