<main>
  <h3>タグリスト</h3>
  <% @tag_list.each do |list| %>
  <span>
    <%= link_to list.tag_name, tag_posts_path(tag_id: list.id) %>
    <%= "(#{list.posts.count})" %>
　</span>
　<% end %>
  <hr>
  <%= render 'posts/list', posts: @posts %>
  <%= paginate @posts %>
</main>