// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg-image {
  background-image: image-url('balloons2.jpg');
  width: 750px;
  height: 500px;
  background-size: cover;
  margin: 10px;
}
.bg-mask {
  height: 100%;
  background: rgba(255,255,255,0.5);
}